title: Crypto & Tech Insights
email: contact@example.com
description: Premium insights on Cryptocurrency, Economy, and Technology.
baseurl: /general-blog
url: https://jeonghun-project.github.io
permalink: /:year/:month/:day/:title/
theme: null
plugins:
- jekyll-feed
- jekyll-seo-tag
- jekyll-sitemap
sass:
  style: compressed
defaults:
- scope:
    path: ''
    type: posts
  values:
    layout: post
markdown: kramdown
